@font-face {
    font-family: "inter";
    src: url(../fonts/inter.ttf)
}

* {
    box-sizing: border-box;
    font-family: "inter";
}

body {
    padding-top: 85px;  
}

 table, td, th {
    border: 1px solid rgba(218, 218, 218, 1);
    border-collapse: collapse;
}

table{
    max-height: 627px;
max-width: 1160px;
font-size: 15px;
text-align: center; 
}

table th:nth-child(1) {
    width: 72px;
}
table th:nth-child(2) {
    width: 444px;
    text-align: start;
    padding-left: 23px;
}
table th:nth-child(3) {
    width: 276px;
}
table th:nth-child(4) {
    width: 368px;
}
    
tr {
    height: 57px;
}

button {
    display: inline-block;
    width: 115px;
    height: 36px;
    background-color: #E84949;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 11px; 
    outline: 0;
    border: none;
    color: #FFFFFF;
}

thead {
    font-weight: 700;
    line-height: 18.15px;
    background-color: #f9f9f9;
}

tbody {
    font-weight: 500;
    line-height: 18.15px;
    background-color: #FFFFFF;
}

.colum {
    text-align: start;
    padding-left: 23px;
}

.box {
    background-color: #FFD43A;
    color: #000;
}

caption {
    width: 152px;
    height: 22px;
    font-weight: 700;
    font-size: 25px;
line-height: 30.26px;
margin-bottom: 23px;
}
